<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Создать событие</title>
    <link rel="stylesheet" href="/css/eventcreate.css" />
  </head>
  <body>
    <div class="eventcreate-container">
      <h2 style="text-align: center">Создать мероприятие</h2>
      
      <form class="login-form" enctype="multipart/form-data" th:action="@{/createevent}" th:method="post">
      
        <input type="text" th:field="*{event.name}" placeholder="Название мероприятия" required="required"/>
        
        <textarea th:field="*{event.description}" placeholder="Описание" required="required"></textarea>
        
        <input type="date" th:field="*{event.startDate}" placeholder="Дата проведения" required="required"/>
        
        <input type="time" th:field="*{event.startTime}" placeholder="Время проведения" required="required"/>
        
        <input type="text" th:field="*{event.address}" placeholder="Адрес" required="required"/>
        
        <div class="input__wrapper">
          <input
            name="file"
            type="file"
            id="input__file"
            class="input input__file"
            multiple
            required="required"
          />
          <label for="input__file" class="input__file-button">
            <span class="input__file-icon-wrapper"
              ><img
                class="input__file-icon"
                src="/img/forAnyPage/arrow.png"
                alt="Выбрать файл"
                width="25"
            /></span>
            <span class="input__file-button-text">Загрузить фото</span>
          </label>
        </div>
        <input type="submit" value="Создать" />
      </form>

      <div style="margin-top: 10px">
        <a class="backpagebutton" href="/">На главную страницу</a>
      </div>
    </div>

  </body>
</html>