<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="/css/participantinfo.css">
</head>
<body>
    <div class="profile-container">
        <h1>Профиль участника</h1>
        <div class="profile-details">
            <div class="profile-item">
                <label>ФИО:</label>
                <span th:text="${person.getFirstName()} + ' ' + ${person.getLastName()} + ' ' + ${person.getFatherName()}">Иванов Иван Иванович</span>
            </div>
            <div class="profile-item">
                <label>Номер телефона:</label>
                <span th:text="${person.getPhoneNumber()}">+7 (999) 123-45-67</span>
            </div>
            <div class="profile-item">
                <label>Роль на сайте</label>
                <span th:text="${person.getRole()}">+7 (999) 123-45-67</span>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="${person.getRole() != 'ROLE_ADMIN'}">
            	<form th:action="@{/participant/{personId}/delete(personId=${person.getPersonId()})}" th:method="delete">
            		<input class="logout-button" type="submit" value="Заблокировать пользователя"/>
            	</form>
            </div>
        </div>
    </div>
</body>
</html>