<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты поиска</title>
    <link rel="stylesheet" href="/css/resultsearch.css">
    <link type="image/x-icon" href="/img/favicon/favicon-32x32.png" rel="shortcut icon">
    <link type="image/x-icon" href="/img/favicon/favicon-32x32.png" rel="icon">
</head>
<body>
    <div class="containerMain">
        <div class="leftSite"></div>
        <div class="mainSite">
            <div class="containerHead">
                <div class="icon">
                    <a href="/"><img class="forIcon" src="/img/ForExample/favicon.png" alt="Icon"></a>
                </div>
                <div class="siteName">
                    <p><a class="buttonEventTracker" href="/">Event Tracker</a></p>
                </div>
                <div sec:authorize="isAuthenticated()" class="createEvent">
                    <p><a class="buttonProfile" href="/createevent">Создать мероприятие</a></p>
                </div>
                <div sec:authorize="!isAuthenticated()" class="createEvent"></div>
                <div class="search">
                    <form action="/search" method="get">
                        <input class="searchInput" type="search" name="searchrequest" placeholder="Введите запрос">
                        <input class="buttonSearch" type="submit" value="Search">
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()" class="profileOrLogin">
                    <p><a class="buttonProfile" href="/login">Войти</a></p>
                </div>
                <div sec:authorize="isAuthenticated()" class="profileOrLogin">
                    <p><a class="buttonProfile" href="/profile">Профиль</a></p>
                </div>
            </div>
            <div>
                <h2 class="upcomingEventsTitle" th:text="'Результаты поиска по запросу: ' + ${searchrequest}"></h2>
            </div>
            <div th:if="${events != null and events.size() != 0}" class="grid">
                <div th:each="event : ${events}" class="grid-item">
                    <p th:text="${event.getName()}">Название мероприятия</p>
                    <a th:href="@{/event/{eventId}(eventId=${event.getEventId()})}" class="card-link">
                        <img class="card" th:src="@{/image/{filename}(filename=${event.getPhotos().get(0).getFileName()})}" alt="Event Photo">
                    </a>
                </div>
            </div>
            <div th:unless="${events != null and events.size() != 0}" class="no-events">
                <h3>Ничего не найдено</h3>
            </div>
        </div>
        <div class="rightSite"></div>
    </div>
</body>
</html>
